body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

#main {
  max-width: 600px;
  margin: 50px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #5e5e5e;
}

#msg {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #f2a154;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.user-message {
  background-color: #ffe4c4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: flex-end;
}

.bot-message {
  background-color: #f0f8ff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: flex-start;
}

@media only screen and (max-width: 600px) {
  #main {
      width: 90%;
  }
}
